<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="title-cursive">
            <a href="/">{{ site.title | capitalize }}</a>
        </div>
        <hr />
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="/a-propos/">À propos</a>
            {% if site.display_sources_link %}
            <a class="item" href="https://github.com/lesincroyableslivres/lesincroyableslivres.github.io"><i class="github icon"></i> Sources</a>
            {% endif %}
        </div>
    </div>
</div>
