<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item title">
            <span class="cursive">{{ site.title | capitalize }}</span>
        </a>
        <div class="right menu mobile hidden">
            <a class="header item cursive small" href="/a-propos/">À propos</a>
        </div>
    </div>
</div>
<div class="incroyablelibraire mobile hidden">
    <div class="ui tiny images centered">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-1.jpg">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-2.jpg">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-3.jpg">
    </div>
</div>