<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item">
            <span class="cursive">L'incroyable libraire</span>
        </a>
    </div>
</div>
<div class="incroyablelibraire">
    <div class="ui tiny images centered">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-1.jpg">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-2.jpg">
        <img class="ui circular image bordered" src="/assets/images/incroyablelibraire-3.jpg">
    </div>
</div>