<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item title" title="Retour à la liste">
            <span class="title-cursive">{{ site.title | capitalize }}</span>
        </a>
        <div class="right menu mobile hidden">
            <a class="header item cursive small" href="/a-propos/">À propos</a>
        </div>
        <div class="right menu computer hidden">
            <a class="header item" href="/a-propos/"><i class="question circle outline icon"></i></a>
        </div>
    </div>
</div>
<div class="incroyablelibraire mobile hidden">
    <div class="ui tiny images centered">
        <img class="ui circular image bordered" src="/assets/images/dot-12.jpg">
        <img class="ui circular image bordered" src="/assets/images/dot-12.jpg">
        <img class="ui circular image bordered" src="/assets/images/dot-12.jpg">
    </div>
</div>