---
layout: default
---

<div class="ui main text container">

<h1 class="cursive">À propos</h1>

<p>C'est un site à propos de livres qu'il fait bon lire.</p>
<p>C'est un site avec une certaine idée de la littérature et qui défend toutes sortes d'écritures.</p>
<p>C'est un site qui pense que c'est dommage d'oublier les bons livres.</p>

</div>

<div class="introduction-wrapper">
  <div class="ui basic segment introduction">
    <div class="ui text container">
      <h4 class="ui header cursive">Mais comment donc ?</h4>
      <p>Ce site est né de la rencontre avec une libraire, rapidement devenue pour moi L'Incroyable Libraire&trade; (👋 <a href="https://www.instagram.com/wacky_coulette/">Cécile</a>).</p>
      <p>Une bonne partie des livres présentés ici proviennent de ses suggestions (mais on n'est pas toujours d'accord !), d'autres de mes déambulations à la <a href="https://www.facebook.com/librairierivegauche/">Librairie Rive Gauche</a> à Lyon, et le reste d'autre part.</p>
    </div>
  </div>
</div>

<div class="ui text container">
<hr />

<h2 class="cursive">Remerciements</h2>

<div class="ui raised cards remerciements">
  <div class="card">
    <div class="image">
      <i class="huge book icon"></i>
    </div>
    <div class="content">
      <div class="header">Celles et ceux qui font les livres</div>
      <div class="description">
        Merci aux auteurs, éditeurs, correcteurs (oh oui, on vous aime les correcteurs !), traducteurs et tous ceux qui font les livres.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <i class="huge store alternate icon"></i>
    </div>
    <div class="raised content">
      <div class="header">Celles et celui qui défendent les livres</div>
      <div class="description">
        Merci aux chouettes libraires de la <a href="https://www.facebook.com/librairierivegauche/">Librairie Rive Gauche</a> à Lyon, qu'elles soient incroyable, insaisissable, que j'ai connu leur prénom trop tôt pour leur trouver un surnom, ou même qu'il soit il.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <i class="huge bookmark outline icon"></i>
    </div>
    <div class="raised content">
      <div class="header">Ceux qui marquent les pages</div>
      <div class="description">
        Merci aux Editions Jourdenuit pour <a href="https://editionsjourdenuit.fr/index.php/ob_cur/marque-pages/">leurs très jolis marque-pages</a>.
        C'est joli dans mes livres et c'est joli pour les cadeaux.
      </div>
    </div>
  </div>
</div>

</div>

<script>
$(function() {
    $('a[href^="mailto:"]').each(function() {
        this.href = this.href.replace('%20(chez)%20', '@').replace(/%20\(point\)%20/g, '.');
        this.innerText = this.innerText.replace(' (chez) ', '@').replace(/ \(point\) /g, '.');
    });
});
</script>
