---
layout: default
---

<div class="ui main text container">

<br />
<div class="ui piled segment introduction">
    <h4 class="ui header cursive">Mais pourquoi donc ?</h4>
    <p>Depuis plus de deux ans, Mon Incroyable Libraire m'abreuve de lecture. Petit à petit, elle a changé mon rapport au livre et mon rapport au monde.</p>
    <p>Aujourd'hui, je lâche L'Incroyable Libraire sur le monde. <i>Beware...</i></p>
</div>

<h1 class="cursive">À propos</h1>

<p>C'est un site à propos de livres qu'il fait bon lire.</p>
<p>C'est un site avec une certaine idée de l'écriture et qui défend toutes sortes d'écritures.</p>
<p>C'est un site qui pense que c'est dommage d'oublier les bons livres.</p>

<hr />

<h2 class="cursive">Contact</h2>

<p>Vous pouvez nous écrire à : <code>contact (chez) lincroyablelibraire (point) fr</code>.</p>

<hr />

<h2 class="cursive">Remerciements</h2>

<div class="ui raised cards remerciements">
  <div class="card">
    <div class="image">
      <i class="huge book icon"></i>
    </div>
    <div class="content">
      <div class="header">Celles et ceux qui font les livres</div>
      <div class="description">
        Merci aux auteurs, éditeurs, correcteurs (oh oui, je vous aime les correcteurs !) et tous ceux qui font les livres.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <i class="huge store alternate icon"></i>
    </div>
    <div class="raised content">
      <div class="header">Celles qui défendent les livres</div>
      <div class="description">
        Merci aux chouettes libraires de la Librairie Rive Gauche à Lyon, qu'elles soient incroyable, insaisissable ou que j'ai connu leur prénom trop tôt pour leur trouver un surnom.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <i class="huge glasses icon"></i>
    </div>
    <div class="raised content">
      <div class="header">Celles qui rendent les yeux</div>
      <div class="description">
        Merci à Axelle l'opticienne et Zoé l'orthoptiste de m'avoir rendu mes yeux. C'est pratique, les yeux.
      </div>
    </div>
  </div>
</div>

</div>